@(message: String)

@main("Welcome to Play") {
	<div class="container">
            <!--    <img style="position:absolute; TOP:15px; LEFT:15px; WIDTH:200px; HEIGHT:135px" src="@routes.Assets.at("images/Fair.jpg")"></img>  -->   

                            
      <div class="col-sm-6">
       <h1><a href="#">Fair n' Share</a>
          <p class="lead">{Schedule it.. Things go better!}</p></h1>
      </div>
    </div>
    </div>
    <div id="wrapper">
            <div class="navbar-default sidebar" role="navigation" >
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        
                        <li>
                            <a class="active" href="index.html"><i class="fa fa-dashboard fa-fw"></i>&nbsp &nbspDashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa  fa-tasks"></i>&nbsp &nbspTasks<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="myTasks.html">My Tasks</a>
                                </li>
                                <li>
                                    <a href="addTasks.html">Add Tasks</a>
                                </li>
                                <li>
                                    <a href="editTasks.html">Manage Tasks</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa  fa-smile-o"></i>&nbsp &nbspFriends<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="myFriends.html">My Friends</a>
                                </li>
                                <li>
                                    <a href="addFriends.html">Add/Invite Friends</a>
                                </li>
                                <li>
                                    <a href="editFriends.html">Manage Friends</a>
                                </li>
                                
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-users"></i>&nbsp &nbsp Groups<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="myGroups.html">My Groups</a>
                                </li>
                                <li>
                                    <a href="addGroups.html">Create Groups</a>
                                </li>
                                <li>
                                    <a href="editGroups.html">Manage Groups</a>
                                </li>
                            </ul>
                        </li>
                        <li>    
                            <a href="#"><i class="fa fa-lightbulb-o"></i>&nbsp &nbspNotifications</a>
                        </li>
                        <li>                                                       
                            <a href="#"><i class="fa fa-calendar"></i>&nbsp &nbsp My Calendar<span class="fa arrow"></span> </a>
                            <ul class="nav nav-second-level">
                                <li>    
                                	<a href="#">My Schedule<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="daily.html">Daily</a>
                                        </li>
                                        <li>
                                            <a href="weekly.html">Weekly</a>
                                        </li>
                                        <li>
                                            <a href="monthly.html">Monthly</a>
                                        </li>
                                     </ul>
                                </li>
                                
                                <li>
                                    <a href="#">House Scheule<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="daily-home.html">Daily</a>
                                        </li>
                                        <li>
                                            <a href="weekly-home.html">Weekly</a>
                                        </li>
                                        <li>
                                            <a href="monthly-home.html">Monthly</a>
                                        </li>
                                        
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>
                            </li>
                            <li>
                            <a href="#"><i class="fa fa-files-o fa-fw"></i>&nbsp &nbspSettings<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a class="active" href="account.html">Account Settings</a>
                                </li>
                                <li>
                                    <a href="privacy.html">Privacy Settings</a>
                                </li>
                                <li>
                                    <a href="security.html">Security Settings</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li class="active">
                            
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Blank</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        


    </div>
    
}
